.superman-image {
    background-image: url(../assets/images/img1.png);
    height: 700px;
    background-position: center;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}

.s-med {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.head-content {
    display: flex;
    text-align: center;
    margin: 80px 120px;
}

.title h1 {
    font-family: adventure;
    font-size: 100px;
    margin-top: 80px;
}

.title h2 {
  font-family:adventpro;
  font-size: 60px;
  font-weight: bolder;
  font-style: italic;
}

.s-personnage {
    display: flex;
    justify-content: space-between;
}

.sup {
    width: 304px;
    height: 494px;
}

.s-content {
    text-align: justify;
}

