@font-face {
  font-family: 'rajdhani';
  src: url(../assets/police/Rajdhani-Medium.ttf);
}

@font-face {
  font-family: 'cantarell';
  src: url(../assets/police/Cantarell-Regular.ttf);
}

@font-face {
  font-family: 'adventure';
  src: url(../assets/police/Adventure.otf);
}

@font-face {
  font-family: 'adventpro';
  src: url(../assets/police/AdventPro-VariableFont_wdth\,wght.ttf);
}


:root {
  --black-color: #FFFFFF;
  --white-color: #000000;
  --gray-color: #7C7675;
  --red-color: #B11313;
  --bleu-color: #07338C;
  --gray-bleu: #19587D;
  --bleu-gray: #081a3a;
  --light-red: #B4202E;
  --black-gray: #212E3E ;
  --gradient-bleu: 
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: rajdhani !important;
  color: white !important;
  background-color: black !important;
}

button{
  padding: 10px;
  color: white;
  border: none;
  background: rgb(198,198,198);
  background: linear-gradient(138deg, rgba(198,198,198,1) 0%, rgba(121,9,17,1) 73%);
}
