.compte-image {
    background-image: url(../assets/images/img37.png);
    height: 800px;
    background-position: center;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .compte-image .hero-title {
    font-family: adventure;
    font-size: 36px;
    font-weight: bolder;
    letter-spacing: 2px;
    padding: 230px 96px;
  }
  
  .a {
    padding-top: 15px;
    color: white;
    text-decoration: none;
  }
  
  .a:active,
  .a:hover {
    text-decoration: underline;
  }

  .my-4 {
    font-size: 32px;
    font-weight: bolder;
  }

  .content {
    font-weight: lighter;
  }

  .container .mt-5 .btn-valider {
    padding: 12px 32px;
    border-radius: 12px;
    background-image: linear-gradient(90deg, var(--bleu-color) 0%, rgba(121,9,17,1) 73%);
  }